.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(50, 167, 145);
  width: auto;
  padding: 5px;
  margin: -8px;
  margin-bottom: 10px;
}

.trybewarts-header-logo {
  width: 40px;
}

.trybewarts-login {
  display: flex;
}

#trybewarts-forms-logo {
  height: 500px;
}

#password {
  margin-left: 5px;
  margin-right: 5px;
}

.main {
  display: flex;
  width: 90%;
  justify-content: center;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}


input {
  margin: 0 0 10px 0;
  padding: 8px;
}

button {
  height: 35px;
}

.input-large {
  width: 45%;
}

#house {
  padding: 8px;
  width: auto;
}

#container-image-logo {
  display: flex;
  justify-content: flex-end;
}

#trybewarts-forms-logo {
  height: 500px;

}

#container-family {
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 line-height: 25px;
}

#label-family {
  margin-bottom: 10px;
}

#container-techs {
  margin-top: 10px;
}

#techs {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
}

#techs div {
  width: 50%;
}

